# Enviroment settings
ENVIRONMENT='university' # local, prod, university
CLIENT_URL='http://localhost'
PORT=8000

# Email settings
EMAIL_USER=""
EMAIL_PASSWORD=""

# Encryption settings
ENCRYPT_SALT=
JWT_SECRET=""

# Time settings
TIMEZONE="-03:00"